* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Minecraft', sans-serif;
                                                 
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, rgb(221, 221, 221) 0%, rgb(0, 0, 0) 100%);
}